@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');
:root {
    --color-white: #f3f3f3;
    --color-darkblue: #1b1b32;
}


body {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
    color: var(--color-white);
    z-index: -1;
    background-color: var(--color-darkblue);
}

h1 {
    text-align: center;
}

a {
    text-decoration: none;
    color: bisque;
}
p {
    font-size: 14px;
    margin-left: 50;
    margin-right: 50;
}

.container{
    margin: 50px auto 0 auto;
}